.main-question {
	max-width: 600px;
	margin: 0 auto;
}

.list-group.list-group-checkable {
	max-width: 450px;
}

.list-group-item-check:checked + .list-group-item {
	color: #fff;
	background-color: var(--bs-blue);
	transition: all 0.3s ease-in-out;
}

.list-group-checkable .list-group-item {
	cursor: pointer;
}

.list-group-item-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.pe-none {
	pointer-events: none !important;
}
