.main-question {
	max-width: 600px;
	margin: 0 auto;
	min-height: 50vh;
	word-break: break-all;
}

.list-group {
	max-width: 450px;
}

.list-group-item-check:checked + .list-group-item {
	color: #fff;
	background-color: var(--bs-blue);
}

.list-group-checkable .list-group-item {
	cursor: pointer;
}

.list-group-item-check {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.pe-none {
	pointer-events: none !important;
}
