.house-description__image {
	display: block;
	position: relative;
	width: 50%;
	max-height: 500px;
	margin: 0 auto 50px;
	object-fit: cover;
	transition: 0.2s ease-in-out;
	border-radius: 5px;
	object-position: center;
	background: url(../../../public/images/no-house-img.svg) #eeeeee 50% 50%
		no-repeat;
	z-index: 2;
}

.house-description__group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.house-description__image.not-image {
	min-height: 500px;
}

.description .house-item__favorites {
	top: 20px;
	left: 20px;
}

.house-description__booking {
	width: fit-content;
}

@media (max-width: 768px) {
	.house-description__booking {
		display: block;
		width: 100%;
	}

	.house-description__group {
		width: 100%;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column-reverse;
	}
}
